{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Ibraheem El Ansari</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="static/IE.ico" />
    <!-- Bootstrap Icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic"
        rel="stylesheet" type="text/css" />
    <!-- SimpleLightbox plugin CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="static/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>
    <style>
    @font-face {
        font-family: 'Alpha Echo';
        font-style: normal;
        font-weight: 400;
        src: local('Alpha Echo'), url('https://fonts.cdnfonts.com/s/13/alpha_echo.woff') format('woff');
    }
    </style>
</head>

<body id="page-top">
    <canvas id="nokey" style='width: 100%'>
    </canvas>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" style="font-family: 'Alpha Echo', sans-serif; font-size: 5vh;"
                href="#page-top">IE</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto my-2 my-lg-0" style="padding-top: 0.5vh;">
                    <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="#projects">Projects</a></li>
                    <li class="nav-item"><a class="nav-link" href="#articles">Articles</a></li>
                    <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Masthead-->
    <header class="masthead">
        <div class="container px-4 px-lg-5 h-100">
            <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-8 align-self-end" style="width: 70%;">
                    <h1 class="text-white font-weight-bold">
                        <div class="typing-container">
                            <span id="sentence" class="sentence">I am Ibraheem, </span>
                            <span id="feature-text"></span>
                            <span class="input-cursor"></span>
                        </div>
                    </h1>
                    <hr class="divider" />
                </div>
                <div class="col-lg-8 align-self-baseline">
                    <p class="text-white-75 mb-5">Welcome to my portfolio website! Throughout this page, I tried to give
                        words to my passion for Data science and Web Development via concrete projects and articles.
                        <br> Feel free to contact me if you like my profile ! </p>
                    <a id="resumedownload" class="btn btn-primary btn-xl" href="/static/Resume - Ibraheem El Ansari.pdf"
                        download>Download resume <img style='height: 1.5rem; padding-left: 3px;'
                            src="static/download.svg" alt=""> </a>
                </div>
            </div>
        </div>
    </header>
    <!-- Services-->
    <section id='about' class="page-section" style='padding-top: 5rem; padding-bottom: 6rem'>
        <div class="container px-4 px-lg-5">
            <h2 class="text-center mt-0">What I can offer :</h2>
            <hr class="divider" />
            <div class="row gx-4 gx-lg-5">
                <div class="col-lg-3 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><i class="bi-file-code fs-1 text-primary"></i></div>
                        <h3 class="h4 mb-2">Full Stack <br> Development</h3>
                        <p class="text-muted mb-0">Fully functioning websites from front-end to back-end</p>
                    </div>
                </div>
                <div class="col-lg-3 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                        <h3 class="h4 mb-2">Data science <br> web applications</h3>
                        <p class="text-muted mb-0">Intuitive and comprehensive Python solutions utilising Data</p>
                    </div>
                </div>
                <div class="col-lg-3 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><i class="bi-clipboard-data fs-1 text-primary"></i></div>
                        <h3 class="h4 mb-2">Data Analytics & Reports</h3>
                        <p class="text-muted mb-0">
                            <span id="sentence2" class="sentence2">Drive insights to </span>
                            <span id="feature-text2"></span> <br>
                            <span class="input-cursor"></span>
                            <span id="sentence2" class="sentence2">strategies and products </span>
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><i class="bi-search fs-1 text-primary"></i></div>
                        <h3 class="h4 mb-2">Effective and thorough research</h3>
                        <p class="text-muted mb-0">Google is my best friend, he's never let me down</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="projects"></div>
    </section>
    <!-- Portfolio-->

    <!-- Projects section v.4 -->
    <section class="text-center" style="padding: 4rem 3rem; background-color: whitesmoke">

        <!-- Section heading -->
        <h2 class="text-black mt-0">Projects I've worked on</h2>
        <hr class="divider" />


        <div id="myBtnContainer" style="margin-bottom: 3rem;">
            <button class="btnfilter" onclick="filterSelection('all')"> Show all</button>
            <button class="btnfilter" onclick="filterSelection('Data')">Data science</button>
            <button class="btnfilter" onclick="filterSelection('Web')">Web Development</button>
        </div>

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 Data mb-4">
                <div class="card card-image one">
                    <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
                        <div>
                            <h6 class="purple-text">
                                <i class="fas fa-chart-pie" style="color: greenyellow; margin-right: 3px;"></i>
                                <strong style="color: greenyellow">Data Analysis</strong>
                            </h6>
                            <h3 class="py-3 font-weight-bold">
                                <strong>Agriculture sampling frames</strong>
                            </h3>
                            <p class="pb-3">This project is an analysis of an Agricultural dataset that we collected on
                                my internship with the Ministry of Agriculture in Morocco. We applied different sampling
                                designs with the aim of choosing
                                the most proper one for future surveys.
                            </p>
                            <a href="https://github.com/Ibraheem761/Streamlit_Agriculture_EN_FR" target="blank"
                                class="btn btn-rounded btn-md"><i id="innericon" class="fas fa-code-branch left"></i>
                                View code</a>
                            <a href="https://share.streamlit.io/ibraheem761/streamlit_agriculture_en_fr/main/st_Agr.py"
                                target="blank" class="btn btn-rounded btn-md"><i id="innericon"
                                    class="fas fa-laptop-code left"></i> Web App</a>
                            <a href="static/Etude maraîchère.html" target="blank" class="btn btn-rounded btn-md"><i
                                    id="innericon" style="margin-right: 7px;" class="far fa-file left"></i>Notebook</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-6 Data mb-4">
                <div class="card card-image two">
                    <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
                        <div>
                            <h6 class="purple-text">
                                <i class="fas fa-brain" style="color: greenyellow; margin-right: 3px;"></i>
                                <strong style="color: greenyellow;">Deep Learning</strong>
                            </h6>
                            <h3 class="py-3 font-weight-bold">
                                <strong>Moroccan Pastries Classifier</strong>
                            </h3>
                            <p class="pb-3">The aim of this project was to create a CNN image recognition web app
                                that
                                classifies 10 different types of the most common Moroccan pastries. <br>
                                The Web app can be used by tourists to check the name of pastries as they enjoy
                                their
                                stay in Morocco.
                            </p>
                            <a href="https://github.com/Ibraheem761/Moroccan-Pastries-Classifier" target="blank"
                                class="btn btn-rounded btn-md"><i id="innericon" class="fas fa-code-branch left"></i>
                                View code</a>
                            <a href="https://share.streamlit.io/ibraheem761/moroccan-pastries-classifier/app.py"
                                target="blank" class="btn btn-rounded btn-md"><i id="innericon"
                                    class="fas fa-laptop-code left"></i> Web App</a>
                            <a href="static/Classification.html" target="blank" class="btn btn-rounded btn-md"><i
                                    id="innericon" style="margin-right: 7px;" class="far fa-file left"></i>Notebook</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-6 Web mb-md-0 mb-4">
                <div class="card card-image three">
                    <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
                        <div>
                            <h6 class="pink-text">
                                <i class="fas fa-globe" style="color: greenyellow; margin-right: 3px;"></i>
                                <strong style="color: greenyellow">Web Development</strong>
                            </h6>
                            <h3 class="py-3 font-weight-bold">
                                <strong>Tech Start-up</strong>
                            </h3>
                            <p class="pb-3" style="text-align: center;">Django Website for LACTIC, a Tech Start-up based in Casablanca <span style="opacity: 0;">textcenterholder</span>
                            </p>
                            <a href="http://www.lactic.ma/" target="blank" class="btn btn-rounded btn-md"><i
                                    id="innericon" class="fas fa-laptop-code left"></i>Website</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-6 Web mb-4">
                <div class="card card-image four">
                    <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
                        <div>
                            <h6 class="green-text">
                                <i class="fas fa-globe" style="color: greenyellow; margin-right: 3px;"></i>
                                <strong style="color: greenyellow">Web Development</strong>
                            </h6>
                            <h3 class="py-3 font-weight-bold">
                                <strong>Private higher education institute</strong>
                            </h3>
                            <p class="pb-3" style="text-align: center;">Django Website for ESSTI, a higher education institute in Rabat <span style="opacity: 0;">textcenterholder</span>
                            </p>
                            <a href="https://essti0.herokuapp.com/" target="blank" class="btn btn-rounded btn-md"><i
                                    id="innericon" class="fas fa-laptop-code left"></i>Website</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Grid column -->


            <!-- Grid column -->
            <div class="col-md-6 Data mb-md-0 mb-4">
                <div class="card card-image five">
                    <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
                        <div>
                            <h6 class="pink-text">
                                <i class="fas fa-project-diagram" style="color: greenyellow; margin-right: 3px;"></i>
                                <strong style="color: greenyellow;">Machine learning</strong>
                            </h6>
                            <h3 class="py-3 font-weight-bold">
                                <strong>Individual Preferences Clustering</strong>
                            </h3>
                            <p class="pb-3">This is a fun Clustering project based on a small Dataset gathered from
                                univeristy
                                students. Individuals with the same preferences are grouped together. Relationships
                                between certain variable categories like favorite music genre and favorite language are
                                noticed.
                            </p>
                            <a href="https://github.com/Ibraheem761/Clustering-of-Individuals-by-Preferences"
                                target="blank" class="btn btn-rounded btn-md"><i id="innericon"
                                    class="fas fa-code-branch left"></i> View code</a>
                            <a href="static/Clustering.html" target="blank" class="btn btn-rounded btn-md"><i
                                    id="innericon" style="margin-right: 7px;" class="far fa-file left"></i>Notebook</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-6 Data mb-4">
                <div class="card card-image six">
                    <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
                        <div>
                            <h6 class="green-text">
                                <i class="fas fa-project-diagram" style="color: greenyellow; margin-right: 3px;"></i>
                                <strong style="color: greenyellow;">Machine learning</strong>
                            </h6>
                            <h3 class="py-3 font-weight-bold">
                                <strong>Moroccan Stock Market Analysis</strong>
                            </h3>
                            <p class="pb-3">The <b>MASI</b> index (Moroccan All Shares Index) is a Morrocan stock
                                index.<br>
                                In this project we
                                proved the Moroccan Stock Market to be <b>inefficient</b>, i.e, Prices do no reflect
                                all information, through a model that predicts the MASI index with high accuracy.
                            </p>
                            <a href="https://github.com/Ibraheem761/Finance-Dashboard---Is-the-Moroccan-Stock-Market-Efficient"
                                target="blank" class="btn btn-rounded btn-md"><i id="innericon"
                                    class="fas fa-code-branch left"></i> View code</a>
                            <a href="https://masi-dashboard.herokuapp.com/" target="blank"
                                class="btn btn-rounded btn-md"><i id="innericon" class="fas fa-laptop-code left"></i>
                                Web App</a>
                            <a href="static/MASI-Time-Series.html" target="blank" class="btn btn-rounded btn-md"><i
                                    id="innericon" style="margin-right: 7px;" class="far fa-file left"></i>Notebook</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </section>
    <!-- Projects section v.4 -->

    <!-- Call to action-->
    <section id="articles" class="page-section bg-dark text-white">
        <div class="container px-4 px-lg-5 text-center">
            <h2 class="mb-4">Articles</h2>

            <div class="card" style="margin-top: 4em; margin-left: 3em; margin-right: 3em;">

                <div id="wrapper" style=" display: flex; background-color: transparent;">

                    <div id="left" style="flex: 0.6">

                        <img class="card-img-top" height="100%" style="border-radius: 2rem 0px 0px 2rem;"
                            src="static/R pic.jpg" alt="Card image cap">

                    </div>
                    <div id="right"
                        style=" flex: 1 ; margin-left: 20px; margin-top: 5mm; margin-right: 15px; padding-bottom: 2rem; padding-top: 1rem; background-color: ghostwhite;">
                        <h5 class="card-title" style="color: #000; text-align: left;">Learn R basics with Simple Linear
                            Regression and Time series</h5>
                        <p style="margin-bottom: 4px;color: #000; text-align: left;"> The main purpose of this notebook
                            is to learn how to get started in R and apply some basic commands like
                            vectors, data importation, loops, if statements, and of course linear regression.
                        </p>
                        <p style="margin-bottom: 4px; color: #000; text-align: left;">
                            While this notebook is beginner friendly, it does require some basic understanding of how
                            the OLS regression
                            algorithm works.
                        <p style="margin-bottom: 2px; color: #000; text-align: left;">
                            <b>Covered topics :</b> Stationarity, Regression, Validation and Prediction.
                        </p>



                        <br style="display: block; content: ''; margin-top: 2.5mm; color: #000; ">
                        <div style="text-align: left;">
                            <a href="static/Article_1-Learn_R.html" target="_blank"
                                class="btn btn-outline-secondary btn-md" role="button" aria-pressed="true">Article</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Contact-->
    <section class="page-section" id="contact">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8 col-xl-6 text-center">
                    <h2 class="mt-0">Let's Get In Touch!</h2>
                    <hr class="divider" />
                    <p class="text-muted mb-5">Ready to boost your team? Send a message and I
                        will
                        get back to you as soon as possible!</p>
                </div>
            </div>
            <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
                <div class="col-lg-6">
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- * * SB Forms Contact Form * *-->
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- This form is pre-integrated with SB Forms.-->
                    <!-- To make this form functional, sign up at-->
                    <!-- https://startbootstrap.com/solution/contact-forms-->
                    <!-- to get an API token!-->
                    <form id="contactForm" action="#submitButton" data-sb-form-api-token="API_TOKEN" method="post">
                        {% csrf_token %}
                        <!-- Name input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" name="name" id="name" type="text"
                                placeholder="Enter your name..." data-sb-validations="required" />
                            <label for="name">Full name</label>
                            <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                        </div>
                        <!-- Email address input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" name="email" id="email" type="email"
                                placeholder="name@example.com" data-sb-validations="required,email" />
                            <label for="email">Email address</label>
                            <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                            <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                        </div>
                        <!-- Message input-->
                        <div class="form-floating mb-3">
                            <textarea class="form-control" name="message" id="message" type="text"
                                placeholder="Enter your message here..." style="height: 10rem"
                                data-sb-validations="required"></textarea>
                            <label for="message">Message</label>
                            <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.
                            </div>
                        </div>
                        <!-- Submit Button-->
                        <div class="d-grid"><button class="btn btn-primary btn-xl" disabled id="submitButton"
                                type="submit">Submit</button></div>
                    </form>
                    {% if messages %}
                    <div class="messages">
                        {% for message in messages %}
                        <p {% if message.tags %} class=" {{ message.tags }} " {% endif %}> <i
                                style="color: orange; position: relative; top: 5px; margin-right: 1vh;"
                                class="fas fa-check-circle fa-2x"></i>
                            {{ message }} </p>
                        {% endfor %}
                        <div style="text-align: center; margin-top: 2vh;"><a href=""><i
                                    class="fas fa-arrow-circle-up fa-2x"></i></a></div>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-4 text-center mb-5 mb-lg-0">
                    <i class="bi-phone fs-2 mb-3 text-muted"></i>
                    <div>+212 658 135 784 </div>
                </div>
            </div>
        </div>
    </section>

    <div class="social d-flex justify-content-center">
        <a class="mx-2" target="_blank" href="https://www.linkedin.com/in/ibraheem-el-ansari-6b87601ab/"><i
                class="fab fa-linkedin fa-lg"></i></a>
        <a class="mx-2" target="_blank" href="mailto:elansariibraheem@gmail.com"><i class="fab fa-google fa-lg"></i></a>
        <a class="mx-2" target="_blank" href="https://github.com/Ibraheem761"><i class="fab fa-github fa-lg"></i></a>
    </div>

    <!-- Footer-->
    <footer class="footer small text-center text-black-50">
        <div class="container px-4 px-lg-5">Copyright &copy; Ibraheem El Ansari 2021</div>
    </footer>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- SimpleLightbox plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
    <!-- Core theme JS-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <script src="static/scripts.js"></script>



</body>

</html>